<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" type="text/css">
        <title th:text="${book.getTitle()}" />
    </head>
    <body>
        <header>
            <nav>
                <h1 class="pageTitle"><a th:href="@{/}">Back</a></h1>
                <ul>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <span><input class="btn" type="submit" value="Sign Out"/></span>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div th:object="${book}" class="book">
                <div class="header">
                    <div class="bookTitle">
                        <h1 th:text="*{title}" /> by <span th:text="*{author}"/>
                    </div>
                    
                </div>
                <div class="sidebar">
                    <div><strong>Year: </strong><span th:text="*{year}" /></div>
                    <div><strong>ISBN: </strong><span th:text="*{isbn}" /></div>
                    <div><strong>Price: </strong><span th:text="*{price}" /></div>
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam nobis ullam delectus quas, quod sunt eius error inventore? Eveniet eius iste ex pariatur temporibus molestiae nostrum reiciendis ipsum sequi neque?</p>
                </div>
            </div>
        </main>
    </body>
</html>