<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <title>BookStore</title>
    </head>
    <body>
        <header>
            <nav>
                <h1 class="pageTitle">BookStore</h1>
                <ul>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <span><input class="btn" type="submit" value="Sign Out"/></span>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
          
        </main>
    </body>
</html>